#tablediv.faculty_attendance3
  h3 Course Name
  |                 
  table
    caption
      | SUBJECTS
    |                     
    thead
      tr
        th.name Student Name
        |                             
        th.subject Subject
    |                     
    tbody
      tr#attweb
        td.name #{student.FullName}
        |                             
        td.subject Web
      |                         
      tr#attsda
        td.name #{student.FullName}
        |                             
        td.subject Software Design And Architecture
      |                         
      tr#attos
        td.name #{student.FullName}
        |                             
        td.subject Operating System
      |                         
      tr#attpe
        td.name #{student.FullName}
        |                             
        td.subject Professional Ethics
      |                         
      tr#atttw
        td.name #{student.FullName}
        |                             
        td.subject Technical Writing
script(src='js/response.js')