h1 Department of Computer Software Engineering, MCS
|         
.profile-image
  img(src='./images/avatar.svg', alt='')
  |           
  .profile-text
    h1#fullname #{studentList.FullName}
    |             
    h3#coursesection #{studentList.CourseSection}
    |             
    h3#regno #{studentList.RegNo}
    |             
    h3#sem 5th Semester
|         
form
  div
    label(for='email') Email: 
    |             
    input#email(type='email', name='email', value=studentList.Email , disabled='')
  |           
  div
    label(for='phone') Phone:
    |             
    input#phone(type='phone', name='phone', value=studentList.Phone, disabled='')
  |           
  div
    label(for='cnic') CNIC:
    |             
    input#cnic(type='text', name='cnic', value=studentList.CNIC, disabled='')
  |           
  div
    label(for='gender') Gender:
    |             
    input#gender(type='text', name='gender', value=studentList.Gender, disabled='')
  |           
  div
    label(for='taddress') Temporary Address:
    |             
    input#taddress(type='text', name='taddress', value=studentList.TemAddress, disabled='')
  |           
  div
    label(for='paddress') Permanent Address:
    |             
    input#paddress(type='text', name='paddress', value=studentList.PerAddress, diabled='')
  |           
  div
    label(for='dob') Date Of Birth:
    |             
    input#dob(type='phone', name='dob', value=studentList.DOB, disabled='')
  |           
  div
    label(for='nationality') Nationality:
    |             
    input#nationality(type='text', name='nationality', value=studentList.Nationality, disabled='')
